@charset "UTF-8";

body{
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.split{
    display: table;
    width: 100%;
  }

.split-item{
    display: table-cell;
    text-align: center;
    width: 50%;
}

.split-left{
    text-align: center;
    position: relative;
}

.split-left__inner{
    height: 100%;
    position: fixed;
    width: 50%;
}

.split-right__inner{
    height: 95vh;
    display: flex;
    align-items: center;
}

.sec{
  font-size: 50pt;
}

.cloock{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.daate{

}



/* ここからアナログ時計のやーつー */

#analog{
            height:70%;
            width:100%;
            position: relative;
}
#analog .analog-face{
            border: 3px solid white;
            background-color:white ;
            border-radius:50%;
            position: absolute;
}



#analog div{
            box-sizing: content-box;
}

.analog-line1,.analog-line2{
            position: absolute;
            left:0;
            z-index: 1;
}
.analog-line1{
            width:5px;
            height: 3px;
            background: black;
            top:calc(50% - 2px);
}
.analog-line2{
            width:3px;
            height: 2px;
            background: black;
            top:calc(50% - 1px);
}
.analog-text{
            color:black;
            font-size:2em;
            position: absolute;
            transform: translate(-50%, -50%);
            z-index: 2;
}
.analog-seconds{
            background-color:red ;
            width:5px;
            position: absolute;
            z-index: 10;
            border-radius: 1px;/* 秒はりの角最初は５pxぐらい　*/
}
.analog-hours{
            background-color:black ;
            width:10px;
            position: absolute;
            z-index: 8;
            border-radius: 1px;/* 時間はりの角最初は５pxぐらい　*/
}
.analog-minutes{
            background-color:black ;
            width:10px;
            position: absolute;
            z-index: 9;
            border-radius: 1px; /* 分はりの角最初は５pxぐらい　*/
}
.analog-center,.analog-center:after{
            position: absolute;
            top:50%;
            left:50%;
            z-index: 15;
            border-radius: 50%;
}
.analog-center{
            background-color:black ;
            height:21px;
            width:21px;
            transform: translate(-11px,-11px);
}
.analog-center:after{
            content: "";
            background-color:black ;
            height:17px;
            width:17px;
            transform: translate(-9px,-9px);
}
/* ここまでアナログ時計 */

.left_contents{
  margin-top: 40%;
}

.upper{
  position:fixed;
  right:30px;
  bottom:30px;
  transition:1s;
  opacity:0.7;
  text-align: right;
}
